pkgbase = aura-glass-git
	pkgdesc = A fluid frosted-glass desktop environment and theme suite for GNOME 48-51
	pkgver = 2.4.0.r12.g3a1bcde
	pkgrel = 1
	url = https://github.com/DevWebeloper/aura-glass
	install = aura-glass.install
	arch = any
	license = GPL-3.0-or-later
	depends = bash
	depends = glib2
	depends = dconf
	depends = gnome-shell
	depends = python
	depends = sassc
	depends = unzip
	depends = curl
	depends = git
	depends = libxml2
	optdepends = python-gobject: for Aura Glass Settings GUI and setup wizard
	optdepends = libadwaita: for Aura Glass Settings GUI and setup wizard
	optdepends = gettext: for compiling extension translations
	optdepends = imagemagick: for enhanced wallpaper rendering and dynamic GDM sync
	optdepends = python-pillow: for dynamic GDM login screen wallpaper blurring
	provides = aura-glass
	conflicts = aura-glass
	source = git+https://github.com/DevWebeloper/aura-glass.git
	sha256sums = SKIP

pkgname = aura-glass-git
